html
  head
    title= title
    <link href='css/normalize.css' rel='stylesheet'>
    <link href='css/main.css' rel='stylesheet'>
    <link href='css/app.css' rel='stylesheet'>
  body
    #app
    script(src="/js/main.js")
    script(src="/js/bundle.js")
